In [1]:
#MAITREYEE UPADHYAY
#25070123071
#EXPERIMENT 3: STUDY OF TUPLE IN PYTHON
tpl=(2,True,"maitreyee")
print(tpl)

(2, True, 'maitreyee')

In [3]:
tpl2=("apple","banana","orange")
print(tpl2[1])
print(tpl2[-2])

banana
banana

In [4]:
tpl5=(10,)*5
print(tpl5)

(10, 10, 10, 10, 10)

In [13]:
list1=["symbiosis",]*5
print(list1)

['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']

In [12]:
tpl6=(10)*5
print(tpl6)

50

In [16]:
tpl7=("apple","banana","orange")
print("before:",id(tpl7))
tpl8=("kiwi",)
tpl7+=tpl8
print(tpl7)
print("after:", id(tpl7))

before: 134380296411136
('apple', 'banana', 'orange', 'kiwi')
after: 134380012963456

In [18]:
tpl7=["apple","banana","orange"]
print("before:",id(tpl7))
tpl8=["kiwi",]
tpl7+=tpl8
print(tpl7)
print("after:", id(tpl7))

before: 134380403892288
['apple', 'banana', 'orange', 'kiwi']
after: 134380403892288

In [23]:
marks=(90,82,66,76,33)
max_marks=max(marks)
print(max_marks)

min_marks=min(marks)
print(min_marks)

total_numberofstudents=len(marks)
print(total_numberofstudents)

sumofmarks=sum(marks)
print(sumofmarks)

average_marks=sumofmarks/total_numberofstudents
print(average_marks)

print(sorted(marks))

90
33
5
347
69.4
[33, 66, 76, 82, 90]

In [26]:
result=["maths",80,"A"]
subject,marks,grade=result
print(subject)
print(marks)
print(grade)
if marks>75:
  print("Distinction")

maths
80
A
Distinction

In [29]:
attendance=("P","A","P","A","P","P")
count_of_present=attendance.count("P")
print("Total present days:", count_of_present)
count_of_absent=attendance.count("A")
print("Total absent days:", count_of_absent)

Total present days: 4
Total absent days: 2